[Desktop Entry]
Version=1.0
Type=Application
Name=Scan Kit
GenericName=Scan Kit
Comment=Proton pencil beam scanning analysis toolkit
Exec=scan-kit
Icon=scan-kit
Terminal=false
StartupNotify=true
Categories=Science;Utility;
StartupWMClass=scan-kit
