[Desktop Entry]
Version=1.0
Type=Application
Name=Scan Kit
GenericName=Scan Kit
Comment=Proton pencil beam scanning analysis toolkit
Exec=run-scan-kit.sh
Icon=icon.png
Terminal=false
Categories=Science;Utility;
StartupWMClass=scan-kit
